{{#each this.results}}
    <li class="gallery-item">
        <arcticle class="gallery-card">
            
            <div class="img-container">
                <img src={{poster_path}} alt={{original_title}} class="card-image">
            </div>

            <div class="card-content">
                <h2 class="card-title">{{title}}</h2>
                <ul class="card-list">
                    <li class="item-info">Vote / Votes <span class="info-data">{{vote_average}} / {{vote_count}}</span></li>
                    <li class="item-info">Popularity <span class="info-data">{{popularity}}</span></li>
                    <li class="item-info">Original Title <span class="info-data" style="text-transform: uppercase;">{{original_title}}</span></li>
                    <li class="item-info">Genre <span class="info-data">{{genre_ids}}</span></li>
                </ul>

                <p class="text-about">{{overview}}</p>
            </div>
        </arcticle>
    </li>
{{/each}}